/* Boostrap settings */
$border-radius:               0 !default;
$input-border-width:          .05rem !default;
$input-btn-focus-width:       0 !default;

// Colors
$primary:                   orange;

/* My Settings */
$footer-size:                  100px;

